<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gentle Petals</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" routerLink="blogs">Blog</a>
              <a class="nav-link" routerLink="categories">Category</a>
              <a class="nav-link" routerLink="products">Products</a>
              <a class="nav-link" routerLink="carts">Cart</a>
              <a class="nav-link" routerLink="orders">Order</a>
              <a class="nav-link" routerLink="billings">Billing</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </div>
            <div>
              <a *ngIf="checkLogin()==false" routerLink="login" class="nav-link">Login</a>
            </div>
          </div>
          <h4 *ngIf="checkLogin()==true">Welcome !!!</h4>

        </div>
      </nav>
</div>
<div>
    <router-outlet></router-outlet>
</div>